{% include 'first/base.html' %}

{{person.username}}님에게 동행 신청
{% if request.user != person %}
    <hr>
    {% with user_followers=person.followers.all %}
        {% if request.user in user_followers %}
            이미 신청하셨습니다. 취소하시겠습니까?
            <a href="{% url 'accounts:follow' person.pk %}">신청 취소</a>
        {% else %}
            <a href="{% url 'accounts:follow' person.pk %}">신청하기</a>
        {% endif %}
    {% endwith %}
{% else %}
    <hr>
    {% with user_followers=person.followers.all %}
    {% for list in user_list %}
        {% if list in user_followers %}
            {{list.username}}님이 신청하셨습니다.
            <a href="{% url 'accounts:profile_register' person.pk %}">{{list.username}}님 프로필 보기</a>
        {% endif %}
        {% endfor %}
    {% endwith %}
{% endif %}