<!-- Blog post 영역-->
{% load static%}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="padding:11vh 0">
    {% include 'first/base.html' %}
    <p style="font-size:1.5rem">마감된 글</p>
    {% for p in post %}
        {% if request.user.pk == p.user.pk and p.ending == True %}
            <hr>
            <div class="container my-4" id="post-{{p.pk}}">
                <div class="container-body">
                    <li class="container-title" href="{{p.get_absolute_url}}"><a href="{{p.get_absolute_url}}" class="btn btn-primary" >
                        {{p.title}}</a></li>  
                </div>
                <div class="container-footer text-muted">
                    {{p.created_at|date:'y.m.d'}}
                </div>
            </div>
            <hr>
        {% endif %}
    {% endfor %}      <!--for문 끝-->
    <p>진행중 글</p>
    {% for p in post %}
        {% if request.user.pk == p.user.pk and p.ending == False %}
            <hr>
            <div class="container my-4" id="post-{{p.pk}}">
                <div class="container-body">
                    <li class="container-title" href="{{p.get_absolute_url}}"><a href="{{p.get_absolute_url}}" class="btn btn-primary" >
                        {{p.title}}</a></li>  
                </div>
                <div class="container-footer text-muted">
                    {{p.created_at|date:'y.m.d'}}
                </div>
            </div>
            <hr>
        {% endif %}
    {% endfor %}     
</body>